@model IEnumerable<Tranq.WebsiteTutorial.Models.QuoteViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Quotes</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfQuote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuoteContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfQuote)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new {@class = "btn btn-outline-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
